<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single course</title>
</head>
<body>
    <h1>Single course</h1>
    
        <p>
            {{id1.title}}
        </p>
        <p>
            {{id1.content}}
        </p>
    
</body>
</html>