<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update course</title>
</head>
<body>
    <h1>Update course</h1>
    <form method="post">
        <label for="Title">Title : </label>
        <input type="text" name="title" id="Title" value="{{id2.title}}">
        <label for="Subject">Subject : </label>
        <input type="text" name="subject" id="Subject" value="{{id2.subject}}">
        <label for="Content">Content : </label>
        <input type="text" name="content" id="Content" value="{{id2.content}}">
        <button type="submit">Go</button>
    </form>
</body>
</html>